%hover{
    &:hover{
        color: #00C4CF;
        transition: 0.5s all ease;
    }
}

.settingsWrapper{
    .settings{
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-areas: 
        'sn sf';
        justify-content: center;
        .settingsNav{
            grid-area: sn;
            max-width: 200px;
            margin-left: 200px;
            .settingsNavItems{
                .settingActive{
                    color: #00C4CF;
                }
                a{
                    color: black;
                    text-decoration: none;
                    @extend %hover;
                    li{
                        list-style-type: none;
                        border: 1px solid rgba(190, 190, 190, 1);
                        border-radius: 10px;
                        padding: 4px 5px;
                        font-size: 20px;
                        margin: 9px 0;
                    }
                }
            }
        }
    }
}