.App{
    width: 1200px;
    margin: 0 auto;
}

.mainContentWrapper{
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
    grid-template-areas: 
    "sbl mc sbr";
}

.mainContent{
    grid-area: mc;
}
